@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: 
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body {
    font-family: "Roboto","Arial", sans-serif;;
    margin: 0; 
    background-image: url("../images/Rectangle-background.png");
    background-color: #F3D7B7;
    background-size: 1440px 800px;
    
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.container {
    width: 1380px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* Header */
.header {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-image: url("../images/Rectangle-background.png");
    background-color: #F3D7B7; */
}

.header-inner {
    display: flex;
    align-items: center;
    
}

.menu {
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.menu-item:nth-child(3) {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #333333;
}

/* Header tugadi */

/* Main */

.main {
    margin: 0;
    padding: 0;
    /* background-image: url("../images/Rectangle-background.png");
    background-color: #F3D7B7; */
}

.hero {
    position: relative;
    background-position: calc(50% + 400px) calc(0%);
    margin: 0;
    padding: 116px 0 257px;
    background-image: url("../images/Rectangle-img.png");
    background-repeat: no-repeat;
    background-size: 710px 696px;
    
}

.hero-inner-left {
    width: 464px;
    margin: 0;
    margin-left: 100px;
    padding: 0;
}

.hero-title {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    
    color: #000000;
}

.hero-text {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    
    
    color: #000000;
}

.hero-button {
    width: 193px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #0A775F;
    border-radius: 100px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    /* letter-spacing: 1px; */
    color: #ffffff;
    
}

.hero-pic {
    position: absolute;
    top: -8%;
    left: 48%; 
}



